{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1>Sign in</h1>
            <p class="lead">Continue sending SMS messages</p>


            <div class="form-group">
                <label  for="inputUsername" class="sr-only">username</label>
                <input class="form-control" type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Username" required autofocus>
            </div>


            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
            </div>




            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
<div>
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</div>

            <div class="mt-3">
                Don't have an account yet?
            </div>

            <a href="{{ path('app_register') }}">Create one</a>
        </form>
    </div>


{% endblock %}
