{% extends 'base.html.twig' %}
{% block title %}SMS Example{%  endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <h3>Send new SMS</h3>
                <div class="alert alert-info">Please prepend regional area code. i.e +44 for United Kingdom</div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-block pull-right btn-primary" type="submit">
                {{ form_end(form) }}
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-7">
                {%  if(user) %}
                    <h5>Welcome back, {{ user.name }}</h5>
                {% endif %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert mt-4 alert-warning alert-dismissible fade show" role="alert">
                      {{ flashMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {# total items count #}
                <div class="count mt-2 mb-4">
                  Total amount of messages:  {{ pagination.getTotalItemCount }}
                </div>
                <table class="table">
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Message', 'a.message') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Created At', 'a.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Status', 'a.status') }}</th>
                    </tr>

                    {# table body #}
                    {% for smsMessage in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ smsMessage.id }}</td>
                            <td>{{ smsMessage.message }}</td>
                            <td>{{ smsMessage.createdAt | date('d-m-Y H:i:sa') }}</td>
                            <td>{{ smsMessage.status }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}