{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <h1>Register</h1>
        {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-primary btn-lg">Register</button>
        {{ form_end(registrationForm) }}


        <div class="mt-3">
          Already have an account?
        </div>

        <a href="{{ path('app_login') }}">Sign in</a>
    </div>


{% endblock %}
